;       This file holds the information on root name servers needed to
;       initialize cache of Internet domain name servers

.                        3600000      NS    {{ROOT_NAME}}
{% if ':' in ROOT_ADDR %}
{{ROOT_NAME}}     3600000      AAAA  {{ROOT_ADDR}}
{% else %}
{{ROOT_NAME}}      3600000      A     {{ROOT_ADDR}}
{% endif %}
