#
# This is a sample of a minimal configuration file for Knot DNS.
# For more details, see man 5 knot.conf or refer to the server documentation.
#

server:
    listen: {{SELF_ADDR}}@53

control:
    listen: "{{WORKING_DIR}}/knotd.sock"

log:
  - target: stdout
    any: info

acl:
   - id: acl_slave
     address: {{ROOT_ADDR}}
     action: transfer

template:
   - id: default
     storage: "{{WORKING_DIR}}"

zone:
   - domain: example.com
     file: "{{INSTALL_DIR}}/sets/knotd/master/example.com.zone"
     acl: acl_slave

