[submodule "contrib/libfaketime"]
	path = contrib/libfaketime
	url = https://github.com/wolfcw/libfaketime.git
[submodule "contrib/libswrap"]
	path = contrib/libswrap
	url = https://github.com/CZ-NIC/socket_wrapper.git
